*{
  box-sizing: border-box
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.navigation{
  display: flex;
  justify-content: center;
  position: sticky;
  padding: 14px;
  top: 0;
  left: 0;
  right: 0;
}
.navigation ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.navigation a{
  color: white;
}
.navigation li a{
  margin: 19px 30px;
  text-decoration: none;
  background-color: darkblue;
  border-radius: 25px;
  font-size: 25px;
  transition: all 700ms;
}
.navigation li a:hover{
  background-color: crimson;
}
p{
  color: #fff;
}